nav(
	class="w3-sidebar w3-bar-block w3-white w3-text-grey w3-collapse w3-top w3-center sidebar",
	id="mySidebar"
)
	br
	a(
		class="w3-padding-64 w3-center logo-block",
		href="/"
	)
		img(
			src="/images/logo.png",
			class="logo"
		)
	
	a(
		href="javascript:void(0)", 
		onclick="w3_close()",
		class="w3-bar-item w3-button w3-padding w3-hide-large"
	) CLOSE

	a(
		href="#", 
		onclick="w3_close()", 
		class="w3-bar-item sidebar-item"
	) PORTFOLIO

	a(
		href="#about", 
		onclick="w3_close()", 
		class="w3-bar-item sidebar-item"
	) ABOUT

	a(
		href="#contact", 
		onclick="w3_close()", 
		class="w3-bar-item sidebar-item"
	) CONTACT

// Overlay effect when opening sidebar on small screens

div(
	class="w3-overlay w3-hide-large w3-animate-opacity",
	onclick="w3_close()",
	style="cursor:pointer",
	title="close side menu",
	id="myOverlay"
)