.sidebar {
	z-index:3;
	width:300px;
	font-weight:bold;

	.logo-block {
		display: block;
		text-decoration: none;

		.logo {
			height: 160px;
		}
	}

	.sidebar-item {
		background-color: #ff9800;
		text-decoration: none;
		color: #ffffff;
		border-bottom: 1px solid  #ffffff;

		&:hover {
			background-color: #ff5722;
		}
	}
}