doctype html
html
	head
		// head start
		include ../includes/head/head.jade

	body.w3-light-grey.w3-content

		// sidebar
		include ../includes/sidebar/sidebar.jade

		// header
		include ../includes/header/header.jade

		// content
		div(class="w3-main")
			block content

		// footer
		include ../includes/footer/footer.jade