body {
	max-width: 1600px !important;
}

body, h1, h2, h3, h4, h5 {
    font-family: "Raleway", sans-serif;
}

.w3-third img {
    margin-bottom: -6px;
    opacity: 0.8;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}

.w3-main {
	margin-left: 300px
}