extends ../../layouts/default.jade

block content

	.w3-hide-large.down-content
	.w3-row
		.w3-third
			img(src='https://www.w3schools.com/w3images/natureboy.jpg', style='width:100%', onclick='onClick(this)', alt='A boy surrounded by beautiful nature')
			img(src='https://www.w3schools.com/w3images/girl_mountain.jpg', style='width:100%', onclick='onClick(this)', alt='What a beautiful scenery this sunset')
			img(src='https://www.w3schools.com/w3images/girl.jpg', style='width:100%', onclick='onClick(this)', alt='The Beach. Me. Alone. Beautiful')
		.w3-third
			img(src='https://www.w3schools.com/w3images/boy.jpg', style='width:100%', onclick='onClick(this)', alt='Quiet day at the beach. Cold, but beautiful')
			img(src='https://www.w3schools.com/w3images/man_bench.jpg', style='width:100%', onclick='onClick(this)', alt='Waiting for the bus in the desert')
			img(src='https://www.w3schools.com/w3images/natureboy.jpg', style='width:100%', onclick='onClick(this)', alt='Nature again.. At its finest!')
		.w3-third
			img(src='https://www.w3schools.com/w3images/girl.jpg', style='width:100%', onclick='onClick(this)', alt='Canoeing again')
			img(src='https://www.w3schools.com/w3images/girl_train.jpg', style='width:100%', onclick='onClick(this)', alt='A girl, and a train passing')
			img(src='https://www.w3schools.com/w3images/closegirl.jpg', style='width:100%', onclick='onClick(this)', alt='What a beautiful day!')
	
	.w3-center.w3-padding-32
		.w3-bar.paging
			a.w3-bar-item.paging-item(href='#') «
			a.w3-bar-item.paging-item.active(href='#') 1
			a.w3-bar-item.paging-item(href='#') 2
			a.w3-bar-item.paging-item(href='#') 3
			a.w3-bar-item.paging-item(href='#') 4
			a.w3-bar-item.paging-item(href='#') »

	
	#modal01.w3-modal.w3-black(style='padding-top:0', onclick="this.style.display='none'")
		span.w3-button.w3-black.w3-xlarge.w3-display-topright ×
		.w3-modal-content.w3-animate-zoom.w3-center.w3-transparent.w3-padding-64
			img#img01.w3-image
			p#caption
