doctype html
html
  head
    title!= title
    link(rel='stylesheet', href='../assets/css/bootstrap.css')
    link(rel='stylesheet', href='../assets/css/font-awesome.css')
    link(rel='stylesheet', href='../assets/css/AdminLTE.min.css')
    link(rel='stylesheet', href='../assets/css/skins.css')
    link(rel='stylesheet', href='../assets/css/custom_styles.css')
  body.hold-transition.login-page
    .login-box
      .login-logo
        b Aleko Art
      // /.login-logo
      .login-box-body
        form(action='admin')
          .form-group.has-feedback
            input.form-control(type='username', placeholder='Username')
            span.glyphicon.glyphicon-envelope.form-control-feedback
          .form-group.has-feedback
            input.form-control(type='password', placeholder='Password')
            span.glyphicon.glyphicon-lock.form-control-feedback
          .row
            .col-xs-8
              .checkbox.icheck
                label
                  .icheckbox_square-blue(aria-checked='false', aria-disabled='false', style='position: relative;')
                    input(type='checkbox', style='position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;')
                    ins.iCheck-helper(style='position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;')
                  |  Remember Me
            // /.col
            .col-xs-4
              button.btn.btn-primary.btn-block.btn-flat(type='submit') Sign In
            // /.col
      // /.login-box-body