header(class="w3-container w3-top w3-hide-large w3-white w3-xlarge w3-padding-small header")
	a(
		class="w3-left w3-padding",
		href="/"
	) 
		img(
			src="/images/logo.png",
			class="logo"
		)

	a(
		href="javascript:void(0)",
		class="w3-right w3-button w3-white",
		onclick="w3_open()"
	) ☰