extends ../admin_layout
block mainContent
    .box
      .box-header
        a.btn.btn-sm.btn-success(href='categories/new')
          span.fa.fa-plus
          |  Add category
      .box-body
        table.table.categoriesTables
          thead
            tr
              th(style='width: 10px') #
              th Name
              th Logo
              th(style='width: 50px')
          tbody
            each item in categories
                tr(row='item._id')
                  td= item._id
                  td= item.category_name
                  td
                    img(src='{item.category_logo}', width='35', height='35')
                  td
                    span.fa.fa-edit.edit_category(data-id='{item._id}')
                    span.fa.fa-trash.delete_category(data-id='{item._id}', data-target='#delete_category')
          tfoot
            tr
              th(style='width: 10px') #
              th Name
              th Logo
              th(style='width: 50px')