extends ../admin_layout
block mainContent
    .box.box-default
      .box-header.with-border
        h3.box-title= title
      .box-body
        .row
          .col-sm-6.col-md-6
            .form-group
              label(for='game_name') Category Name
              input#game_name.form-control.form_item(type='text', placeholder='Category name', value='')
          .col-sm-6.col-md-6
            .form-group
              .col.col-md-6.file-upload-container
                label(for='cat_logo') Category Logo
                input#cat_logo(type='hidden', value='{cat_logo')
                input(name='cat_logo', type='file', value='cat_logo')
          .col-sm-12.col-md-12
            .error
            button#save_btn.btn.btn-primary.pull-right.form_item(value='') Save